<p id="notice"><%= notice %></p>

<h1>Zombies</h1>
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rotten_zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes" : "No" %></td>
        <td><%=image_tag zombie.avatar, class:"avatar_index" %></td>
        <td ><%= link_to 'Show', zombie, class: "btn btn-primary" %></td>
        <td ><%= link_to 'Edit', edit_zombie_path(zombie),class:"btn btn-primary" %></td>
        <td ><%= link_to 'Destroy', zombie,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path,class:"btn btn-info" %>
</div>
